.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-around;
}

.book-list > .book-preview {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 10em;

  cursor: pointer;

  article{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
  }

  img {
    transition: transform 0.3s;
  }
  h3 {
    text-transform: capitalize;
    font-size: 1em;
    flex-grow: 1;
    text-align: center;
    margin: auto 0;
  }
  .price-tag {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 1.45em;

    font-size: 1.2em;
    background-color: whitesmoke;
    padding: 0.5em;
    border-radius: 0 0 0 0.5em;
    transform: scale(1.02);
  }
}

.book-list .book-preview:hover  img{
    transform: scale(1.02);
  }

.sale{
    color: var(--blue-base) ;
}
