.books-filter{
    background-color: var(--clr1bg-light);
    padding: 0.2em 1em;
    border-radius: 0 0.5em 0 0.5em;
    margin: 0 0 1.2em 0;

    form{
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1em;

        .btn{
            grid-column: 1/-1;
        }
    }
}